mixin img(props = {})
  -
    const path = props.path || ''
    const name = props.name || ''
    const format = props.format || 'jpg'

  if format === 'svg'
    img(
    src=`img/${path}/${name}.svg`,
      width= props.width,
      height= props.height
    )&attributes(attributes)
  else
    img(
      src= name ? `img/${path}/${name}.${format}` : '',
      srcset= name ? `img/${path}/${name}@2x.${format} 2x` : false,
      width= props.width,
      height= props.height,
      alt= props.alt ? props.alt : '',
      loading=props.lazy ? 'lazy' : false
    )&attributes(attributes)
