mixin btn(props = {})
  -
    const tag = props.href ? 'a' : 'button';
    const href = props.href || false;
    const target = props.isExternal ? '_blank' : false;
    const rel = props.isExternal ? 'nofollow noopener noreferrer' : false;
    const type = props.type || tag === 'button' ? props.type || 'button' : false;

    const size = props.size ? props.variant ? `btn-${props.variant}--size-${props.size}` : `btn--size-${props.size}` : false;
    const variant = props.variant ? `btn-${props.variant}` : false;
    const mod = props.mod ? `btn--${props.mod}` : false;


  #{tag}.btn(
    href=href
    target=target
    rel=rel
    type=type
    class=size
    class=variant
    class=mod
  )&attributes(attributes)
    block
