mixin textarea(props = {})
  -
    const inputLabel = props.inputLabel ? props.inputLabel : false
    const placeholder = props.placeholder ? props.placeholder : false
    const inputError = props.inputError ? props.inputError : false
    const inputId = props.inputId ? props.inputId : false
    const inputName = props.inputName ? props.inputName : false
    const inputValue = props.inputValue ? props.inputValue : ''
    const inputMinLength = props.inputMinLength ? props.inputMinLength : false
    const inputMaxLength = props.inputMaxLength ? props.inputMaxLength : false
    const variant = props.variant ? `textarea-${props.variant}` : false
    const size = props.size ? `textarea--size-${props.size}` : false

  textarea(
    type=inputType,
    id=inputId,
    name=inputName,
    minlength=inputMinLength,
    maxlength=inputMaxLength,
    placeholder=placeholder,
    class="textarea",
    class=variant,
    class=size
  )&attributes(attributes)
    =inputValue
